
/* @import 'style1.css' */

/* h1{
    color: chocolate;
}
p{
    background-color: black;
    color: white;
    font-size: 14px;
}

.right{
    text-align: right;
}
.left{
    text-align: left;
}

.big{
    font-size: 22px;
}
.small{
    font-size: 10px;
}
*/
#one{
    background-color: aquamarine;
}
#one{
    background-color: green;
}
/*
#two{
    background-color: lightgreen;
} */

/* *{
    background-color: lightgrey;
} */
