html{
    background-color: green;
}

:root{
    background-color: yellow;
}

body{
    font-size: 10px;
}

#para1{
    font-size: 3ex;
}

#para2{
    font-size: 2em;
}

#para3{
    font-size: 2rem;
}